APP_NAME="OJT Evaluation & Competency Monitoring System"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Asia/Makassar
APP_URL=http://localhost:8000

APP_LOCALE=id
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=id_ID

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=ojt_evaluation_db
DB_USERNAME=postgres
DB_PASSWORD=
DB_SEARCH_PATH=public
DB_SSLMODE=prefer

SESSION_DRIVER=database
QUEUE_CONNECTION=database
CACHE_STORE=database
